<div class="row">
    <div class="col-xs-8">
        <div class="well" ng-if="loading">
            <div class="well">
                LOADING ...
            </div>
        </div>
        <div ng-if="!loading">
            <div class="well">
                This is where you manage the reports you want to analyze and have analyzed in the past.
            </div>

            <div class="well">
                <div class="row">
                    <div class="col-xs-8"><h3>Choose Report</h3></div>
                    <div class="col-xs-4">
                        <div class="well">
                            <input type="checkbox" ng-model="onlyBosses" /> only bosses
                            <br />
                            <input type="checkbox" ng-model="onlyKills" /> only kills
                        </div>
                    </div>
                </div>
                <div ng-if="reports.length === 0" class="well">
                    No reports analyzed yet.
                </div>
                <div ng-repeat="report in reports" class="well" style="margin-top: 10px;">
                    <div>
                        <h4>
                            Report: {{ report.name }}
                            <button ng-click="chooseReport(report)">list fights</button>
                        </h4>
                    </div>

                    <div ng-if="report.fights" class="well">
                        Previously parsed fights:
                        <div style="margin-left: 30px;">
                            <div ng-repeat="fight in report.fights" ng-if="(!onlyBosses || fight.boss) && (!onlyKills || fight.kill)">
                                <div>
                                    [{{ fight.id }}] {{ fight.name }} {{ fight.bossPercentage / 100 | number: 1 }}%
                                    <button ng-click="chooseFight(fight, report.id)">choose character</button>
                                </div>
                                <div class="row" ng-if="fight.actors">
                                    <div class="col-xs-offset-1 col-xs-11" ng-repeat="actor in fight.actors">
                                        - {{ actor.name }} <button ng-click="chooseFriendly(actor, fight.id, report.id)">show results</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="well">
            <h3>Add New Report</h3>
            <p>
                Paste in the URL of the report or just the identifier.
            </p>
            <form>
                <div class="form-group">
                    <label>REPORTID</label>
                    <input class="form-control" type="text" ng-model="state.reportID"/>
                </div>
                <div>
                    <button class="btn btn-primary btn-block" ng-click="addReport(state.reportID)">ADD</button>
                </div>
            </form>
        </div>
    </div>
</div>
