<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li><a href ng-click="gotoInput()">Resto Druid Analyzer</a></li>
            <!-- character -->
            <li ng-if="!state.reportID" class="active">
                Reports
            </li>
            <li ng-if="state.reportID">
                <a href ng-click="gotoChooseReport()">Reports</a>
            </li>
            <!-- report -->
            <li ng-if="state.reportID && !state.fight" class="active">
                {{ state.reportID }}
            </li>
            <li ng-if="state.reportID && state.fight">
                <a href ng-click="gotoChooseFight()">{{ state.reportID }}</a>
            </li>
            <!-- fight -->
            <li ng-if="state.fight && !state.actorID" class="active">
                [{{ state.fightID }}] {{ state.fight.name }}
            </li>
            <li ng-if="state.fight && state.actorID">
                <a href ng-click="gotoChooseCharacter()">[{{ state.fightID }}] {{ state.fight.name }}</a>
            </li>
            <!-- character -->
            <li ng-if="state.actorID" class="active">
                {{ state.actorName || state.actorID }}
            </li>

            <li style="float: right;">
                <a href ng-click="logout()">logout</a>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="alert alert-danger">
            This tool ain't perfect, please continue to use your brain as well! <br/>
            It's build for 7.2! parsing logs pre-7.2 might give odd results ;-)
        </div>
    </div>

    <div class="col-xs-12 col-md-6">
        <div class="alert alert-warning">
            <b>[31-03-2017]</b> <u>Still</u> undergoing a lot of change! <br/>
            Redid the weighting of the healing done a bit. <br/>
            Added SB and Culti mastery bonus healing (experimental!!) <br/>
            Added Legendary shoulders (experimental!!) <br/>

            <b>Germination is 100% sure to mess up PotA, tearstone and 4pc stuff though!!</b>
        </div>
    </div>
</div>

<div ui-view></div>
