<div class="row">
    <div class="col-xs-12">
        <div class="well">
            Hi thar, plx 2 fill in fields, they'll be stored in your browser local storage.
        </div>

        <form>
            <div class="form-group">
                <label>CHARACTER</label>
                <input class="form-control" type="text" ng-model="state.character"/>
            </div>
            <div class="form-group">
                <label>APIKEY</label>
                <input class="form-control" type="text" ng-model="state.apikey"/>
            </div>
            <div>
                <button class="btn btn-primary btn-block" ng-click="continue()">GOGO</button>
            </div>
        </form>
    </div>
</div>
