<div class="row">
    <div ng-if="parsing" class="col-xs-12">
        PARSING ...
    </div>
    <div ng-if="!parsing" class="col-xs-12">
        <div ng-if="!loading">
            <div ng-if="inputFriendlies">
                <p>
                    Due to the portals not being logged properly on the [{{ state.fight.name }}] fight, <br />
                    you need to put the people who entered the portal on ignore using. <br />
                    This will ofcourse affect your stats a bit.
                </p>
                <div class="form-group">
                    <label>IGNORE FRIENDLIES</label>
                    <input class="form-control" type="text" ng-model="state.ignoreFriendliesRaw"/>
                </div>
                <div>
                    <button class="btn btn-primary btn-block" ng-click="continueInputFriendlies()">GOGO</button>
                </div>
            </div>
        </div>
        <div ng-if="loading">
            LOADING ...
        </div>
    </div>
</div>
