<div class="row">
    <div class="col-xs-8">
        <div class="well" ng-if="loading">
            <div class="well">
                LOADING ...
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Choose which character you want to analyze</h3>
            </div>
            <div class="panel-body">
                <div class="row" ng-repeat="friendly in friendlies">
                    <a href="#" class="btn" ng-click="chooseFriendly(friendly)">analyze [ {{ friendly.name }} ]</a>
                </div>
            </div>
        </div>
    </div>
</div>
