<div class="row">
    <div class="col-xs-8">
        <div class="well" ng-if="loading">
            <div class="well">
                LOADING ...
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Choose which character you want to analyze</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href class="list-group-item"
                       ng-click="chooseFriendly(friendly)"
                       ng-repeat="friendly in friendlies">
                        {{ friendly.name }}
                        <span class="badge">analyze</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
