<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li><a href ng-click="gotoInput()">Resto Druid Analyzer</a></li>
            <!-- character -->
            <li ng-if="!state.reportID" class="active">
                Reports
            </li>
            <li ng-if="state.reportID">
                <a href ng-click="gotoChooseReport()">Reports</a>
            </li>
            <!-- report -->
            <li ng-if="state.reportID && !state.fight" class="active">
                {{ state.reportID }}
            </li>
            <li ng-if="state.reportID && state.fight">
                <a href ng-click="gotoChooseFight()">{{ state.reportID }}</a>
            </li>
            <!-- fight -->
            <li ng-if="state.fight && !state.actorID" class="active">
                [{{ state.fightID }}] {{ state.fight.name }}
            </li>
            <li ng-if="state.fight && state.actorID">
                <a href ng-click="gotoChooseCharacter()">[{{ state.fightID }}] {{ state.fight.name }}</a>
            </li>
            <!-- character -->
            <li ng-if="state.actorID" class="active">
                {{ state.actorName || state.actorID }}
            </li>

            <li style="float: right;">
                <a href ng-click="logout()">logout</a>
            </li>
        </ol>
    </div>
</div>

<div ui-view></div>
