<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Resto Druid Analyzer</h3>
            </div>
            <div class="panel-body">
                Hey fellow trees! <br />
                <br />
                This tool works entirely in your browser without using a server backend to store or process things. <br />
                Because of this you need to get a warcraftlogs.com API key yourself, you can find this at the bottom of your accounts page; <a href="https://www.warcraftlogs.com/accounts/changeuser">here</a><br />
                <br />
                Everything will be stored inside your browser, so the API key is never leaked to the server or anything like that, don't worry ;)<br />
                <br />
                This is the first, rather 'raw' version of this tool, <br />
                Keep in mind it could contain bugs! ...
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Warcraftlogs API key</h3>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label>APIKEY</label>
                        <input class="form-control" type="text" ng-model="state.apikey"/>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-block" ng-click="continue()">GOGO</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
